/* font family */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}



/* shared sytles */
.text-gray {
    color: #424242;
}

.text-gray-light {
    color: #727272;
}

.display-flex {
    display: flex;
}

.bg-light {
    background-color: rgba(255, 144, 14, 0.1);
}




/* nav-related styles */
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    justify-content: space-between;
}

.nav-links {
    gap: 20px;
}

.nav-link {
    text-decoration: none;
}

.nav-item {
    list-style: none;
}